.dogCard {
  display: inline-block;
  border: solid 1px;
  border-color: #33691e;
  margin: auto;
  margin-top: 15px;
  margin-left: 2%;
  margin-bottom: 12px;
  width: 30%;
  box-shadow: 10px 10px 5px grey;
  padding: 10px;
}
